.container {
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  &-menu {
    max-height: 20vh;
  }
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
